.products {
  display: flex;
  overflow: auto;
  padding: 0;
}

.productSlide {
  transform: none !important;
}

.products li {
  padding: 0;
  margin: 0;
}

.products::-webkit-scrollbar {
  display: none;
}
