.navList {
  display: flex;
  column-gap: 40px;
  align-items: center;
  padding: 0;
}

.smallGap {
  column-gap: 20px;
}

.navList li a {
  position: relative;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
}

.navList li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--white);
  transition: .2s ease;
}

.navList li a:hover::after {
  width: 100%;
}

.select {
  opacity: 1 !important;
  padding-top: 4px;
}

@media (max-width:820px) {
  .navList {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 44px;
    margin-bottom: 0;
  }

  .navList li {
    transition-delay: .5s;
    transform: translateY(-40px);
    opacity: 0;
  }

  .navList li a::after {
    display: none;
  }

  .navList .select {
    margin-top: 40px;
    padding: 0 0 0 30px;
  }
}
