.flag {
  width: 33px;
  height: 22px;
  margin-right: 17px;
}

.select {
  width: 100px;
  position: relative;
}

.flagList {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  top: 46px;
  left: 0;
}

.arrow {
  transform: rotate(180deg);
  transition: all .3s;
}

.arrow.activeArrow {
  transform: rotate(0deg);

}

.option {
  cursor: pointer;
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

@keyframes fromTop {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
  }
}

@media (max-width: 820px) {
  .select {
    margin: 0 auto;
    animation: fromTop 1s ease-out;
    margin-bottom: 25px;
  }

  .flagList {
    position: static;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
